@if (isPasswordExpired) {
<div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mb-4" role="alert">
  <p class="font-bold">Password Expired</p>
  <p>Your password has expired. Please update your password to continue using your account.</p>
</div>
}
<div class="w-full flex bg-white py-3 px-5 items-center rounded shadow mb-3">
  <p-breadcrumb [model]="breaditems" [home]="home" />
</div>
<form [formGroup]="profileForm" class="w-full space-y-4 bg-white p-4 rounded shadow">

  <!-- Example with Input -->
  <div class="grid grid-cols-[150px_10px_1fr] items-center gap-2">
    <label class="text-left" for="email">Username <span class="text-red-500 px-2">*</span></label>
    <span class="text-right">:</span>
    <input pInputText id="username" type="text" class="w-full" formControlName="username" />
  </div>

  <!-- Fullname -->
  <div class="grid grid-cols-[150px_10px_1fr] items-center gap-2">
    <label class="text-left">Fullname<span class="text-red-500 px-2">*</span></label>
    <span class="text-right">:</span>
    <input pInputText id="fullname" type="text" class="w-full" formControlName="fullname" />
  </div>

  <!-- Example with Input -->
  <div class="grid grid-cols-[150px_10px_1fr] items-center gap-2">
    <label class="text-left" for="email">Email</label>
    <span class="text-right">:</span>
    <input id="email" pInputText type="text" class="w-full" formControlName="email" />
  </div>

  <!-- mobile -->
  <div class="grid grid-cols-[150px_10px_1fr] items-center gap-2">
    <label class="text-left">Mobile</label>
    <span class="text-right">:</span>
    <input pInputText id="mobile" type="text" class="w-full" formControlName="mobile" />
  </div>

  <!-- User ID -->
  <div class="grid grid-cols-[150px_10px_1fr] items-center gap-2">
    <label class="text-left">Group Name</label>
    <span class="text-right">:</span>
    <input pInputText id="groupname" type="text" class="w-full" formControlName="groupname" />
  </div>

  <div class="grid grid-cols-[150px_10px_1fr] items-center gap-2 pt-2">
    <label class="text-left">Change Password</label>
    <span class="text-right">:</span>
    <p-checkbox formControlName="changepassword" [binary]="true" />
  </div>
  @if (profileForm.get('changepassword')?.value) {
  <div class="grid grid-cols-[150px_10px_1fr] items-center gap-2 py-1">
    <label class="text-left">New Password<span class="text-red-500">*</span></label>
    <span class="text-right">:</span>
    <div>
      <p-password formControlName="password" [feedback]="false" [toggleMask]="true" inputStyleClass="w-full"
        [invalid]="isInvalid('password')" />
      @if (profileForm.controls['password']?.invalid && (profileForm.controls['password']?.touched ||
      profileForm.controls['password']?.dirty)) {
      <div class="text-sm text-red-500 mt-1">
        @if (profileForm.controls['password'].errors?.['required']) {
        <ng-container> New Password is required when Change Password is true </ng-container>
        }
      </div>
      }
    </div>
  </div>

  <div class="grid grid-cols-[150px_10px_1fr] items-center gap-2 py-1">
    <label class="text-left">Confirm Password<span class="text-red-500">*</span></label>
    <span class="text-right">:</span>
    <div>
      <p-password formControlName="newPassword" [feedback]="false" [toggleMask]="true" inputStyleClass="w-full"
        [invalid]="isInvalid('newPassword')" />
      @if (profileForm.controls['newPassword']?.invalid && (profileForm.controls['newPassword']?.touched ||
      profileForm.controls['newPassword']?.dirty)) {
      <div class="text-sm text-red-500 mt-1">
        @if (profileForm.controls['newPassword'].errors?.['required']) {
        <ng-container> Confirm Password is required when Change Password is true </ng-container>
        }
        @if (profileForm.controls['newPassword'].errors?.['sameAsPassword']) {
        <ng-container> Confirm password must be the same with New Password </ng-container>
        }
      </div>
      }
    </div>
  </div>
  }

  <!-- Submit Button -->
  <div class="flex justify-end gap-2 mt-6">
    <button *appOnlyBrowser pButton type="button" label="Update" (click)="onSaveProfile()" severity="success"></button>
  </div>
</form>