<p-dialog [(visible)]="visible" [modal]="true" [closable]="false" [style]="{ width: '50rem' }">
    <ng-template pTemplate="header">
        <h3>{{ title }}</h3>
    </ng-template>

    <!-- ================= View/Delete Mode ================= -->
    @if (mode === 'view' || mode === 'delete' || mode === 'start' || mode === 'stop') {
    <div class="flex flex-col gap-3 w-full p-4">
        @for (header of headers; track header.key) { @if (isDisplayInForm(header)) {
        <div class="flex flex-col md:flex-row items-start md:items-center w-full">
            <div class="w-full md:w-1/4 font-semibold text-gray-700">{{ header.label }}</div>
            <div class="w-full md:w-3/4 text-gray-900">{{ getDisplayValue(header) }}</div>
        </div>
        }}
    </div>
    }

    <!-- ================= Create/Edit Mode ================= -->
    @if (mode === 'create' || mode === 'edit') {
    <form [formGroup]="form" class="p-fluid space-y-4">
        @for (header of headers; track header.key) { @if (isDisplayInForm(header)) {
        <ng-container>
            <div class="flex flex-col md:flex-row items-start md:items-center w-full">
                <div class="w-full md:w-1/3 font-semibold text-gray-700">
                    <label [for]="header.key">
                        {{ header.label }}
                        @if (header.validators?.required) {
                        <span class="text-red-500">*</span>
                        }
                    </label>
                </div>

                <div class="w-full md:w-2/3 text-gray-900">
                    <!-- NUMBER -->
                    @if (header.componentType === 'p-inputnumber') {
                    <input type="number" pInputText formControlName="{{ header.key }}" [id]="header.key" />
                    }

                    <!-- BOOLEAN -->
                    @else if (header.componentType === 'p-checkbox') {
                    <p-checkbox formControlName="{{ header.key }}" [binary]="true" [inputId]="header.key"></p-checkbox>
                    }

                    <!-- DATE -->
                    @else if (header.componentType === 'p-datepicker') {
                    <p-datepicker
                        formControlName="{{ header.key }}"
                        [dateFormat]="header.dateFormat || 'yy-mm-dd'"
                        [showIcon]="true"
                        [id]="header.key"
                        [appendTo]="'body'"
                    ></p-datepicker>
                    }

                    <!-- ENUM / VALUES -->
                    @else if (header.componentType === 'p-password') {
                    <p-password
                        formControlName="{{ header.key }}"
                        [feedback]="false"
                        [toggleMask]="true"
                    ></p-password>
                    }

                    <!-- OPTIONS ARRAY -->
                    @else if (header.componentType === 'p-select') {
                    <p-select
                        [options]="dataOptions.get(header.key) || []"
                        formControlName="{{ header.key }}"
                        [optionLabel]="header.optionsParameter?.keyLabel"
                        [optionValue]="header.optionsParameter?.keyCode"
                        [id]="header.key"
                        [appendTo]="'body'"
                    >
                        <ng-template let-option #item>
                            <div class="flex items-center gap-2">
                                @if (header.labelUsingIcon) {
                                <i [class]="option[header.optionsParameter?.keyCode || 'code']"></i>
                                }
                                <div>{{ option[header.optionsParameter?.keyLabel || 'name'] }}</div>
                            </div>
                        </ng-template>

                        <!-- ========== SELECTED ITEM TEMPLATE (for icons or general) ========== -->
                        <ng-template #selectedItem let-selectedOption>
                            @if (selectedOption) {
                            <div class="flex items-center gap-2">
                                @if (header.labelUsingIcon) {
                                <i [class]="selectedOption[header.optionsParameter?.keyCode || 'code']"></i>
                                }
                                <div>{{ selectedOption[header.optionsParameter?.keyLabel || 'name'] }}</div>
                            </div>
                            }
                        </ng-template>
                    </p-select>
                    }

                    <!-- DYNAMIC OPTIONS: Multi Select -->
                    @else if (header.componentType === 'p-multiselect') {
                    <p-multiselect
                        [options]="dataOptions.get(header.key) || []"
                        formControlName="{{ header.key }}"
                        [optionLabel]="header.optionsParameter?.keyLabel"
                        [id]="header.key"
                        display="chip"
                        [appendTo]="'body'"
                    ></p-multiselect>
                    } 

                    <!-- custom tree menu picker -->
                    @else if (header.componentType === 'tree-menu-picker') {
                        <app-tree-menu-picker/>
                    }

                    @else {
                    <input pInputText formControlName="{{ header.key }}" [id]="header.key" />
                    }
                    
                    @if (form.controls[header.key]?.invalid && (form.controls[header.key]?.touched || form.controls[header.key]?.dirty)) {
                    <div class="text-sm text-red-500 mt-1">
                        @if (form.controls[header.key].errors?.['required']) {
                        <ng-container> {{ header.label }} is required. </ng-container>
                        } @if (form.controls[header.key].errors?.['email']) {
                        <ng-container> Invalid email address. </ng-container>
                        } @if (form.controls[header.key].errors?.['passwordPolicy']) {
                        <ng-container>
                            <ul class="list-disc list-inside">
                                @for (error of passwordErrors; track $index) {
                                <li>{{ error }}</li>
                                }
                            </ul>
                        </ng-container>
                        }
                    </div>
                    }
                </div>
            </div>
        </ng-container>
        } }
    </form>
    }

    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancel" class="p-button-text" (click)="onCancel()"></button>
        @if (mode === 'create' || mode === 'edit') {
        <button pButton type="button" label="Save" (click)="onSave()"></button>
        } @if (mode === 'delete') {
        <button pButton type="button" label="Confirm Delete" class="p-button-danger" (click)="onSave()"></button>
        } @if (mode === 'start') {
        <button pButton type="button" label="Start" (click)="onSave()"></button>
        } @if (mode === 'stop') {
        <button pButton type="button" label="Stop" (click)="onSave()"></button>
        }
    </ng-template>
</p-dialog>
