<p-table
    #dt1
    [value]="data || []"
    [dataKey]="dataKey"
    [paginator]="true"
    [rows]="rowsPerPage"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [first]="first"
    [showCurrentPageReport]="true"
    [globalFilterFields]="filterKeys"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[10, 25, 50]"
    (selectionChange)="onSelectionChange($event)"
>
    <ng-template #caption>
        <div class="flex items-center justify-between w-full gap-2">
            <div class="flex gap-2">
                @for (btn of mainTableButtons; track btn.type) {
                <button *appOnlyBrowser
                    pButton
                    type="button"
                    [label]="btn.label"
                    [icon]="btn.icon ?? ''"
                    [severity]="btn.severity ?? 'primary'"
                    [disabled]="isButtonDisabled(btn)"
                    (click)="onMainTableButtonClick(btn)"
                ></button>
                }
            </div>
            <div class="ml-auto">
                <p-iconfield iconPosition="left">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                </p-iconfield>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <!-- Select all checkbox -->
            @if (isButtonDeleteExist()) {
            <th scope="col" style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            }

            <!-- Dynamic column headers -->
            @for (col of columns; track $index) { @if (isDisplayInTable(col)) {
            <th
                id="{{ col.key }}"
                scope="col"
                [pSortableColumn]="col.sortable ? col.key : undefined"
                [style.width]="col.width"
                [style.text-align]="col.align ?? 'left'"
            >
                {{ col.label }}
                @if (col.sortable) {
                <p-sortIcon [field]="col.key"></p-sortIcon>
                }
            </th>
            } }

            <!-- Action column header -->
            @if (rowTableButtons.length > 0 && viewEnabled !== false) {
            <th scope="col" style="width: 120px; text-align: center">Actions</th>
            }
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
        <tr>
            <!-- Row checkbox -->
            @if (isButtonDeleteExist()) {
            <td>
                <p-tableCheckbox [value]="row"></p-tableCheckbox>
            </td>
            }

            <!-- Data cells -->
            @for (col of columns; track $index) { @if (isDisplayInTable(col)) { @if (col.labelUsingIcon) {
            <td headers="{{ col.key }}" [style.text-align]="col.align ?? 'left'">
                <i [class]="row[col.key]" class="mr-2"></i>
                {{ row[col.key] }}
            </td>
            } @else {
            <td headers="{{ col.key }}" [style.text-align]="col.align ?? 'left'">{{ getDisplayValue(row, col) }}</td>
            } } }

            <!-- Action buttons per row -->
            @if (rowTableButtons.length > 0) {
            <td style="text-align: center">
                <div class="flex justify-center gap-2">
                    @for (btn of rowTableButtons; track btn.icon) {
                    <button *appOnlyBrowser
                        pButton
                        type="button"
                        [icon]="btn.icon ?? ''"
                        [pTooltip]="btn.label"
                        tooltipPosition="top"
                        [rounded]="true"
                        [severity]="btn.severity ?? 'secondary'"
                        (click)="onRowTableButtonClick(btn, row)"
                    ></button>
                    }
                </div>
            </td>
            }
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="5">No data found.</td>
        </tr>
    </ng-template>
</p-table>
