<div class="layout-topbar">
    <div class="layout-topbar-logo-container">
        <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
        <a class="layout-topbar-logo" routerLink="/dashboard">
            <img src="./logoweb.png" alt="Indonesia Stock Exchange Bursa Efek Indonesia" class="max-w-full h-20 object-contain mb-2" />
            <span>NDP Proxy</span>
        </a>
    </div>
    <div class="layout-topbar-actions">
        <div class="layout-topbar-menu hidden lg:block">
            <div class="layout-topbar-menu-content">
                <span class="text-gray-600">Hello, {{ currentUser?.fullname }}</span>
            </div>
        </div>
    </div>
</div>
